<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script>
        function printUsers(arr) {
            var element = document.getElementById("container");
            for (var i = 0; i < arr.length; i++) {
                var obj = arr[i];
                var str = obj.id + " " + obj.name + " " + obj.surname + "<br>";
                element.innerHTML += str;
            }
        }
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange=function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    var list = response.object;
                    printUsers(list);
                }
            }
            xhttp.open("GET", "http://localhost:8080/users", true);
            xhttp.send();
        }
    </script>
</head>
<body onload="loadDoc()">
    <div id="container">
    </div>
</body>
</html>