/Resume/target/
/ResumeDBApp/target/
/ResumeDesktopApp/target/

# Project Ignores Files 

# Maven
ResumeWebApp/.mvn
ResumeWebApp/*.classpath
ResumeWebApp/*.project
ResumeWebApp/*.settings
ResumeWebApp/bin/*
ResumeWebApp/target/*

#gradle
.gradle
/build

# Compiled class file
ResumeWebApp/*.class

# Package Files
ResumeWebApp/*.jar
ResumeWebApp/*.war
ResumeWebApp/*.ear
ResumeWebApp/*.zip
ResumeWebApp/*.tar.gz
ResumeWebApp/*.rar


# JetBrains IDEs
ResumeWebApp/.idea/
ResumeWebApp/*.iml

# Eclipse
.project
.classpath
.settings

# Netbeans
ResumeDesktopApp/nbactions*.xml
ResumeDesktopApp/nb-configuration*.xml
ResumeDBApp/nbactions*.xml
ResumeApp/ResumeDBApp/nb-configuration*.xml


# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#Extra Folders
/unused
**/.DS_Store

#spring
ResumeWebApp/.springBeans
