body {
    font-size: 20px;
}

.container {
    margin: 0 auto;
    width: 50%;
    border: 10px solid rosybrown;
    padding: 10px;
}

.control_panel {
    border: 1px solid;
}

.control_panel label {
    width: 10%;
    display: inline-block;
}

.control_panel input {
    color: #dc5f10;
    border: 1px solid;
    padding: 5px;
}

.control_panel_group {
    margin-top: 2px;
}

.btn {
    border: 1px solid #e0561e;
    color: #fff;
    background-color: #e0561e;
    font-size: 15px;
}

.btn_table {
    border: 0px;
    font-size: 20px;
    background-color: white;
}